<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Hunter</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'job_hunter:index' %}">Job Hunter</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'job_hunter:vacancies-list' %}">Find Jobs</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'job_hunter:resume-create' %}">Post Resume</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              	<li class="nav-item"><a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
                <li class="nav-item">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="nav-link" type="submit">logout</button>
                  </form>
                </li>
              {% else %} 
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>  
              {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    
        {% block pagination %}
                {% include "includes/pagination.html" %}
        {% endblock %}
    </div>
</body>
</html>
